.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid $global-primary-background;
}

.header__logo {
  max-width: 12rem;
}

.header__powered-by {
  max-width: 12rem;
}
