<div class="uk-flex uk-flex-column uk-flex-center uk-flex-middle">
  <h1 class="uk-margin-remove-top">{{t "complete.title"}}</h1>
  <img class="uk-width-medium" src="/assets/stamp-document.svg" alt={{t "complete.stamp"}}>
  <p class="uk-text-large uk-margin-remove-top">{{t "complete.subtitle"}}</p>
  <LinkTo @route="index">{{t "complete.home"}}</LinkTo>
</div>