<div class="timeline__entry">
  <div class="timeline__entry__date__container">
    <div class="timeline__entry__date">{{@date}}</div>
  </div>
  <div class="timeline__entry__card__container">
    <div class="timeline__entry__card">
      <div class="timeline__entry__card__header">{{@title}}</div>
      {{#if @body}}
        <div class="timeline__entry__card__body">{{@body}}</div>
      {{/if}}
    </div>
  </div>
</div>