<div class="uk-flex uk-flex-center uk-flex-middle uk-flex-column uk-text-center">
  <h1 class="uk-margin-remove-top">{{t "notfound.title"}}</h1>
  <img class="uk-width-medium" src="/assets/netherlands-windmill.svg" alt={{t "notfound.windmill"}}>
  <p class="uk-margin-remove-top uk-text-large">{{t "notfound.subtitle"}}</p>
  <LinkTo @route="index">{{t "notfound.back"}}</LinkTo>
</div>